**venv
**.pyc
**.swp
**.pem
dist
derby.log
build
conda_env
node_modules
*.egg-info
**__pycache__
**.pytest_cache
.cache
.tox
.DS_Store
metastore_db
**spark-warehouse
spark-checkpoints
spark-als-cache
VERSION
